@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
}

body > div.wrapper > main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}
body > div.wrapper > main div.tabella {
  display: flex;
  justify-content: center;
}
body > div.wrapper > main div.tabella div.table {
  color: black;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
body > div.wrapper > main div.tabella div.table div.loading {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50%;
  background: white;
  width: 100%;
  height: 100vh;
  gap: 1rem;
}
body > div.wrapper > main div.tabella div.table div.loading::after {
  content: "Loading your content..";
}
body > div.wrapper > main div.tabella div.table div.loading div.pallino {
  background-color: black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation: bounce 1s infinite alternate;
          animation: bounce 1s infinite alternate;
}
body > div.wrapper > main div.tabella div.table div.loading div.pallino:nth-child(2) {
  -webkit-animation: bounce 1s infinite alternate 0.2s;
          animation: bounce 1s infinite alternate 0.2s;
}
body > div.wrapper > main div.tabella div.table div.loading div.pallino:nth-child(3) {
  -webkit-animation: bounce 1s infinite alternate 0.3s;
          animation: bounce 1s infinite alternate 0.3s;
}
@-webkit-keyframes bounce {
  100% {
    transform: translateY(-20px);
  }
}
@keyframes bounce {
  100% {
    transform: translateY(-20px);
  }
}
body > div.wrapper > main div.tabella div.table table {
  padding: 5%;
  overflow-x: auto;
  width: 100%;
  height: 100%;
}
body > div.wrapper > main div.tabella div.table table tr {
  max-height: 10%;
}
body > div.wrapper > main div.tabella div.table table tr:first-child {
  border: thin solid black;
  background: linear-gradient(to top, rgba(44, 62, 80, 0.7), rgba(76, 161, 175, 0.7));
}
body > div.wrapper > main div.tabella div.table table tr:nth-child(odd):not(:first-child) {
  background-image: linear-gradient(to right, rgba(44, 62, 80, 0.7), rgba(76, 161, 175, 0.7));
}
body > div.wrapper > main div.tabella div.table table tr:nth-child(even) {
  background-image: linear-gradient(to left, rgba(44, 62, 80, 0.7), rgba(76, 161, 175, 0.7));
}
body > div.wrapper > main div.tabella div.table table tr th {
  text-align: center;
}
body > div.wrapper > main div.tabella div.table table tr td {
  min-width: 6rem;
  padding: 2%;
  border: thin solid black;
  text-align: center;
}
body > div.wrapper > main div.tabella div.table table tr td h4 {
  font-size: 0.9em;
  font-weight: 600;
  margin: 0%;
}
body > div.wrapper > main div.tabella div.table table tr td a {
  text-decoration: none;
  font-weight: 900;
  color: red;
}
body > div.wrapper > main div.tabella div.table table tr td p {
  margin: 0%;
}
body > div.wrapper > main div.tabella div.table table tr td:last-child {
  max-height: 160px;
  max-width: 200px;
  padding: 0px;
}
body > div.wrapper > main div.tabella div.table table tr td img {
  display: block;
  width: 100%;
  height: 100%;
}
body > div.wrapper > main div.tabella div.table div.side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
  width: 100%;
}
body > div.wrapper > main div.tabella div.table div.side div.select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 5px;
}
body > div.wrapper > main div.tabella div.table div.side div.select select {
  cursor: pointer;
}
body > div.wrapper > main div.tabella div.table div.side div.select select option:first-child {
  color: gray;
}
body > div.wrapper > main div.tabella div.table div.side div.select p {
  margin: 0%;
  padding: 0%;
  font-size: 1rem;
  cursor: pointer;
  display: none;
}
body > div.wrapper > main div.tabella div.table div.side div.select p:hover {
  font-weight: 900;
}
.shown {
  display: "";
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  body div.table {
    width: 100%;
  }
  body div.table table tr td {
    min-width: 4rem;
    max-width: 6rem;
  }
  body div.table table tr td:last-child {
    max-width: 4rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}
.wrapper aside {
  width: 20%;
  height: 100%;
}
.wrapper main {
  width: 100%;
  display: flex;
}

.discord-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  cursor: pointer;
}

svg {
  transition: all 0.4s ease-in-out;
}

svg:hover {
  transform: translateY(-20%);
}

#list-menu {
  width: 100%;
  height: 100%;
}
#list-menu p {
  cursor: pointer;
  text-align: center;
  margin: 0;
  transition: all 0.4s ease-in-out;
}
#list-menu p:hover {
  background-color: rgb(122, 118, 118);
}

@media (max-width: 768px) {
  #nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  div.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: red;
  }
  div.wrapper > aside {
    width: 100%;
    height: 80px;
    flex-direction: row !important;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
  }
  div.wrapper aside #list-menu {
    height: 100%;
    width: 100%;
    flex-basis: 75%;
    flex-direction: row !important;
  }
  div.wrapper aside #list-menu p {
    padding: 0;
    text-decoration: none;
    margin: 0;
    font-size: 12px;
  }
  .discord-icon {
    height: 100%;
    flex-basis: 25%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.container-fluid {
  width: 500px;
}

#myChart {
  margin: 0.5rem;
}

.visible {
  display: none !important;
}/*# sourceMappingURL=style.css.map */