* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.container-fluid {
  width: 500px;
}

#myChart {
  margin: 0.5rem;
}
